<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Viajes</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
</head>

<body>
  <%- include('./partials/encabezado_publico') %>

  <div class="container">
    <div class="row">
      <div class="col-sm-12" text-align="center">
        <h1><%=negocios.nombre%> </h1>
        <div class="card fluid" >
          <% if (negocios.imagen && negocios.imagen !="") { %>
              <img class="foto" src="/fotos/<%=negocios.imagen%>" />
              <%} else{ 
              %>
              <span class="icon-user"></span>
              <%}%>
      
          </div>
        <div><%=negocios.descripcion%> </div>
          <div><b> Direccion: </b><%=negocios.direccion%></div>
        <div>
          <b> Celular: </b>
          <%=negocios.celular%>
        </div>
        <div>
          <b> Telefono: </b>
          <%=negocios.telefono%>
        </div>
        <div>
          <b> Email: </b>
          <%=negocios.email%>
        </div>
        <div>
          <b> Domicilio: </b>
          <%=negocios.domicilio%>
        </div>
        <b> Pagina Web: </b>
        <%=negocios.paginaweb%>
      </div>
        
      
      </div>
    </div>
  </div>

  <%- include('./partials/pie')%>
  <script src="/javascripts/script.js"></script>
</body>

</html>
